<a href="https://colab.research.google.com/github/ben745/basics_python/blob/main/Basics_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

unpack collection

In [ ]:
fruits = ['apple','papai','promogranate']
x,y,z=fruits
print(x,y,z)
print(type(fruits))
print(type(x))

apple papai promogranate
<class 'list'>
<class 'str'>

In [ ]:
# space also taken as string
x,y,z,d=1,2.4,'durga',''
print(x,y,z,d)
print(type(d))

1 2.4 durga
<class 'str'>

In [ ]:
fruits = ('apple','papai','promogranate',)
x,y,z=fruits
print(x,y,z , sep=", ")
print(type(fruits))
print(type(x))
print(x+y+z)

apple, papai, promogranate
<class 'tuple'>
<class 'str'>
applepapaipromogranate

In [ ]:
x=1
y=2
print(x+y)
x='25'
y='30'
print(x+y)

3
2530

In [28]:
x='durga'
def my_fun():
  x='lakshmi'
  print('my name is',x)
print(x)
my_fun()

durga
my name is lakshmi

In [33]:
x=range(1,6)
print(x)
for i in x:
  print(i)

range(1, 6)
1
2
3
4
5

In [35]:
x = memoryview(bytes(5))
print(x)

<memory at 0x7b733417dfc0>

Random module

In [44]:
import random
print(random.randrange(1, 10))

7

In [47]:
for x in 'banana helle':
  print(x)

b
a
n
a
n
a

h
e
l
l
e

In [49]:
txt='python is a open source language'
print('ython' in txt)

True

In [53]:
x='postgresql is open source sever'
if "open" in  x:
  print('yes, it is present in data')

yes, it is present in data

String:*methods*

In [64]:
a= " Hello, Durga ,"
b="hello durga  n"
print(a.upper())
print(a.lower())
print(len(a))
print(a.strip())
print(a.split(','))
print(b.split())

 HELLO, DURGA ,
 hello, durga ,
15
Hello, Durga ,
[' Hello', ' Durga ', '']
['hello', 'durga', 'n']

In [71]:
a='i am durga Bhavani'
b=' I am tegu, and , btech, dba'
c= str('testing, ntg').split(' ') # here c is converting into list
print(type(c))
print(c)
print(type(c))

<class 'list'>
['testing,', 'ntg']
<class 'list'>

In [83]:
a='durga'
b='nagarajuna'
print((a+b+" ")*5)

durganagarajuna durganagarajuna durganagarajuna durganagarajuna durganagarajuna

**F-String**

In [86]:
age=int(input("enter your age: "))
print(f"my age next year is {age+1}")

enter your age: 23
my age next year is 24

In [102]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)
txt1 = "We are the so-called \n from the north and \t also i want to fly in air "
print(txt1)

We are the so-called "Vikings" from the north.
We are the so-called
 from the north and 	 also i want to fly in air

List compression: *we create another list with in existing list*

In [104]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [106]:
fruits=["apple",'banana','papai','guvi','grape']
newlist= []
for x in fruits:
  print(x)

apple
banana
papai
guvi
grape

In [114]:
fruits=["apple",'banana','papai','guvi','grape']
newlist= []
for x in fruits:
  newlist.append(x)
print(newlist)

['apple', 'banana', 'papai', 'guvi', 'grape']

In [124]:
fruits=["apple",'banana','papai','guvi','grape']
newlist= []
def fruit():
  for x in fruits:
    if "a" in x:
      newlist.append(x)
  print(newlist)
fruit()

['apple', 'banana', 'papai', 'grape']

In [126]:
fruits=["apple",'banana','papai','guvi','grape']
new_list= [x for x in fruits if 'u' in x]
print(new_list)

['guvi']

Copy list in four ways:
*   copy()
*   [:]
*   list1=list2 -- here if we update in list2, list 1 also updated

In [132]:
list1=[10,20,30]
list2=list1
print(list1)
print(list2)
a=list2.append(20)
print(list1)
print(list2)

[10, 20, 30]
[10, 20, 30]
[10, 20, 30, 20]
[10, 20, 30, 20]

In [135]:
list1=[1,2,3]
list2= list1.copy()
print(list1)
print(list2)
list2.append(23)
print(list1)
print(list2)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 23]

In [144]:
list1=[2,4,1,7]
s= list1.sort()
print(list1)
list2=list1[:]
print(list2)

[1, 2, 4, 7]
[1, 2, 4, 7]

Join lists

In [146]:
list1=['apple','banana','guvi']
list2=[1,2,3]
list3= list1 + list2
print(list3)

['apple', 'banana', 'guvi', 1, 2, 3]

In [150]:
list1=['apple','banana','guvi']
print(list1)
list2=[1,2,3]
for x in list2:
  list1.append(x)
print(list1)

['apple', 'banana', 'guvi']
['apple', 'banana', 'guvi', 1, 2, 3]

In [156]:
list1=['apple','banana','guvi']
list2=[1,2,3]
list1.extend(list2)
print(list1)

['apple', 'banana', 'guvi', 1, 2, 3]

Python- sets

* union or update or |  keeps all elements in a set*


*   intersection or & *keep only duplicate elements in both sets*
*   difference or - * only first set elements return in non-common elements*
* symmetric_difference or ^ **



 The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [158]:
set1 = {'apple','banana','guvi'}
set2 = {'Google','amazon','apple'}
set3= set1 + set2
print(set3)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [161]:
set1 = {'apple','banana','guvi'}
set2 = {'Google','amazon','apple'}
set1.update(set2)
print(set1)

{'apple', 'amazon', 'banana', 'Google', 'guvi'}

In [166]:
set1 = {'apple','banana','guvi'}
set2 = {'Google','amazon','apple'}
set3=set1.union(set2)
print(set1)
print(set3)

{'apple', 'guvi', 'banana'}
{'apple', 'amazon', 'banana', 'Google', 'guvi'}

In [168]:
set1 = {'apple','banana','guvi'}
set2 = {'Google','amazon','apple'}
set3 = set1 | set2 # here i use pipe symbol
print(set1)
print(set2)
print(set3)

{'apple', 'guvi', 'banana'}
{'apple', 'Google', 'amazon'}
{'apple', 'amazon', 'banana', 'Google', 'guvi'}

In [175]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 'c', 3, 'Elena', 'cherry', 'bananas', 'apple', 'b', 'John', 'a'}

In [170]:
set1 = {'apple','banana','guvi'}
set2 = {'Google','amazon','apple'}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [176]:
set1 = {'apple','banana','guvi'}
set2 = {'Google','amazon','apple'}
set3= set1 & set2
print(set3)

{'apple'}

In [178]:
set1 = {'apple','banana','guvi'}
set2 = {'Google','amazon','apple'}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [180]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [182]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1-set2

print(set3)

{'banana', 'cherry'}

In [184]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

In [186]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2) # keep elements that are not present both sets

print(set3)

{'microsoft', 'cherry', 'banana', 'google'}

In [188]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2

print(set3)

{'microsoft', 'cherry', 'banana', 'google'}

In [189]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'microsoft', 'cherry', 'banana', 'google'}